{% extends 'basic.html' %}
{% block title %} About Us{% endblock %}
{% block body %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">APNADUKAAN</h1>
      <p>This is a simple marketing or informational website. We wWork Hard to Fullfill your each and every needs.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Headline1</h2>
        <p>E-commerce sales see rush of new shoppers, mainly from hinterland
Bengaluru-based Flipkart also said that there has been a perceptible shift towards consumers adopting digital payment instruments, with prepaid transactions recording a 75% increase. “One out of every 5 purchases in high-ticket segments like mobiles, furniture, large appliances & electronics were driven. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Headline2</h2>
        <p>How to go about buying major appliances as Amazon and Flipkart announce their sales
As the festive season in India approaches, e-commerce websites have decided to up the ante by offering attractive discounts and a variety of products. Amazon’s Great Indian Festival 2020 sale will begin at midnight of October 16 for Prime users and from October 17 for everyone else. While Flipkart Big Billion Days 2020. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Headline3</h2>
        <p>Retail giants eye rural India, small towns to push growth
With farm sector seen as a key support to growth against the mayhem triggered by the pandemic, these companies sense an opportunity to increase sales betting on rural and small town India..</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; Devloped By Adarsa</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script></body>
</html>


{% endblock %}